/** VARIABLES 
===================================*/
/** RESET AND LAYOUT
===================================*/
/* line 6, ../sass/_bxSlider.scss */
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
/* line 13, ../sass/_bxSlider.scss */
.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/* line 19, ../sass/_bxSlider.scss */
.bxslider {
  margin: 0;
  padding: 0;
}

/* line 24, ../sass/_bxSlider.scss */
ul.bxslider {
  list-style: none;
}

/* line 28, ../sass/_bxSlider.scss */
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

/** THEME
===================================*/
/* line 36, ../sass/_bxSlider.scss */
.bx-wrapper {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  background: #fff;
}
/* line 42, ../sass/_bxSlider.scss */
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* line 47, ../sass/_bxSlider.scss */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("../images/bx_loader.gif") center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* line 57, ../sass/_bxSlider.scss */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
/* line 64, ../sass/_bxSlider.scss */
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 75, ../sass/_bxSlider.scss */
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
/* line 80, ../sass/_bxSlider.scss */
.bx-wrapper .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
/* line 85, ../sass/_bxSlider.scss */
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* line 89, ../sass/_bxSlider.scss */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url("../images/controls.png") no-repeat 0 -32px;
}
/* line 92, ../sass/_bxSlider.scss */
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
/* line 96, ../sass/_bxSlider.scss */
.bx-wrapper .bx-next {
  right: 10px;
  background: url("../images/controls.png") no-repeat -43px -32px;
}
/* line 99, ../sass/_bxSlider.scss */
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
/* line 103, ../sass/_bxSlider.scss */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
/* line 112, ../sass/_bxSlider.scss */
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* line 116, ../sass/_bxSlider.scss */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
/* line 118, ../sass/_bxSlider.scss */
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("../images/controls.png") -86px -11px no-repeat;
  margin: 0 3px;
}
/* line 126, ../sass/_bxSlider.scss */
.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
/* line 130, ../sass/_bxSlider.scss */
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("../images/controls.png") -86px -44px no-repeat;
  margin: 0 3px;
}
/* line 138, ../sass/_bxSlider.scss */
.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active, .bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* line 144, ../sass/_bxSlider.scss */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
/* line 148, ../sass/_bxSlider.scss */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* line 153, ../sass/_bxSlider.scss */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
/* line 160, ../sass/_bxSlider.scss */
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/* LOADER */
/* PAGER */
/* DIRECTION CONTROLS (NEXT / PREV) */
/* AUTO CONTROLS (START / STOP) */
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
/* IMAGE CAPTIONS */
/* line 4, ../sass/_bxSliderForm.scss */
#ccm-slideshowBlock-itemRows a {
  cursor: pointer;
}
/* line 7, ../sass/_bxSliderForm.scss */
#ccm-slideshowBlock-itemRows .ccm-slideshowBlock-itemRow {
  margin-bottom: 10px;
  clear: both;
  padding: 7px;
  background-color: #eee;
  border-radius: 4px;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
}

/* line 18, ../sass/_bxSliderForm.scss */
#ccm-slideshowBlock-fsRow {
  margin-bottom: 10px;
  clear: both;
  padding: 7px;
  background-color: #eee;
  border-radius: 4px;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
}

/* line 30, ../sass/_bxSliderForm.scss */
#ccm-slideshowBlock-itemRows .ccm-slideshowBlock-itemRow a.moveUpLink {
  display: block;
  background: url("/concrete/images/icons/arrow_up.png") no-repeat center;
  height: 10px;
  width: 16px;
}
/* line 36, ../sass/_bxSliderForm.scss */
#ccm-slideshowBlock-itemRows .ccm-slideshowBlock-itemRow a.moveDownLink {
  display: block;
  background: url("/concrete/images/icons/arrow_down.png") no-repeat center;
  height: 10px;
  width: 16px;
}
/* line 42, ../sass/_bxSliderForm.scss */
#ccm-slideshowBlock-itemRows .ccm-slideshowBlock-itemRow a.moveUpLink:hover {
  background: url("/concrete/images/icons/arrow_up_black.png") no-repeat center;
}
/* line 45, ../sass/_bxSliderForm.scss */
#ccm-slideshowBlock-itemRows .ccm-slideshowBlock-itemRow a.moveDownLink:hover {
  background: url("/concrete/images/icons/arrow_down_black.png") no-repeat center;
}
/* line 49, ../sass/_bxSliderForm.scss */
#ccm-slideshowBlock-itemRows .cm-slideshowBlock-itemRowIcons {
  float: right;
  width: 35px;
  text-align: left;
}
